<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 扫描包 -->
    <typeAliases>
        <package name="com.learn.pojo"/>
    </typeAliases>
    <!-- 设置mapper -->
    <mappers>
        <mapper resource="com/learn/dao/BookMapper.xml"/>
    </mappers>
</configuration>
