{{define "default/uploadMultipleFiles.html"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>upload</title>
  </head>

  <body>
    <h1>上传测试</h1>
    <form action="/user/uploadMultipleFiles" method="post" enctype="multipart/form-data">
      用户名：<input type="text" name="username" placeholder="请输入用户名" />
      <br />
      <br />
      头 像 1：<input type="file" name="face1" />
      <br />
      <br />
      头 像 2：<input type="file" name="face2" />
      <br />
      <br />
      <input type="submit" value="提交" />
    </form>
  </body>
</html>
{{end}}
