{{ define "default/user.html" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form action="/doAddUser2" method="post">
        <label for="username">username</label>
        <input type="text" name="username" />
        <br />
        <label for="age">age</label>
        <input type="text" name="age" />
        <br />
        <label for="password">password</label>
        <input type="password" name="password" />
        <br />
        <input type="submit" value="submit" />
      </form>
    </div>
  </body>
</html>
{{ end }}
